<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.css">
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="feed">Verbose Stock Exchange</a>
	</div>

	{% if "username" in session %}

<form method="POST" action="{{ url_for('logout') }}">
  <button type="submit" class="btn btn-default navbar-btn navbar-right" value="lo" name="lo">Logout</button>
</form>
   <p class="navbar-text navbar-right">     </p>
	<form class="navbar-form navbar-right" method="POST" action="{{ url_for('results') }}">
	  <div class="form-group">
	    <input type="text" class="form-control" placeholder="Ticker Symbol" name="search">
	  </div>
	  <button type="submit" class="btn btn-default" name="srch" value="srch"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> </button>
	</form>

	<p class="navbar-text navbar-right">     </p>
	<form method="GET" action="{{ url_for('feed') }}">
	  <button type="submit" class="btn btn-default navbar-btn navbar-right">Feed</button>
	</form>
	<p class="navbar-text navbar-right">     </p>
<form method="GET" action="{{ url_for('myStocks') }}">
 <p class="navbar-text navbar-right">     </p>
	<button type="submit" class="btn btn-default navbar-btn navbar-right" value="port" name="port">Portfolio</button>
</form>
	<p class="navbar-text navbar-right">     </p>
	<form method="GET" action="{{ url_for('profile') }}">
	  <p class="navbar-text navbar-right">     </p>
	  <button type="submit" class="btn btn-default navbar-btn navbar-right" value="prof" name="prof">Profile</button>
	</form>
	{% endif %}
      </div>
    </nav>
    {% block body %}
    {% endblock %}
    <script src="/static/js/bootstrap.js"></script>
  </body>
</html>
