{% extends "basee.html" %}

{% block head %}
<title>Profile edit</title>
{% endblock %}

{% block body %}
<br><br><br><br><br><br><br>



<!-- edit form column -->
<div class="col-md-6 personal-info">
<div class="col-md-12">
  <h3>Edit personal info</h3>
</div>
  <br><br><br><br>      
  <form class="form-horizontal" role="form"   methods="GET" action="{{ url_for('edit_profile') }}">
    <div class="form-group">
        <div class="form-group">
      <label class="col-lg-3 control-label">Full Name:</label>
      <div class="col-lg-8">
        <input class="form-control" type="text" name="fullName" >
      </div>
    </div>
      <label class="col-lg-3 control-label">Date of birth:</label>
      <div class="col-lg-8">
        <input class="form-control" type="text" name="dob" >
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-3 control-label">Favorite stock:</label>
      <div class="col-lg-8">
        <input class="form-control" type="text" name="favStock" >
      </div>
    </div>
  
    <br><br>

    <div class="form-group">
      <label class="col-md-3 control-label"></label>
      <div class="col-md-8">
        <input type="submit" class="btn btn-primary" value="Save Changes">
        <span></span>
        <input type="reset" class="btn btn-default" value="Clear Form">
	<a href="{{ url_for('profile') }}" class="btn btn-default">Cancel Changes</a>
      </div>
    </div>
  </form>
</div>
</div>
</div>
<hr>



{% endblock %}
