{% extends "basee.html" %}

{% block head %}
<title>Login</title>
<!--<link type="text/css" rel="stylesheet" href="/static/css/bootsnipp.css">-->
{% endblock %}

{% block body %}
<br><br><br>


{% if message %}

  <div class="alert alert-info" role="alert"><p class="text-center">{{ status }}</p></div>    

{% endif %}    

<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <div class="span6">
        <div class="area">
          <form class="form-horizontal" method="POST" action="{{ url_for('authOrCreate') }}">
            <div class="heading">
              <h4 class="form-heading">Sign In</h4>
            </div>

            
            <div class="control-group">
              <label class="control-label" for=
                     "inputUsername">Username</label>

              <div class="controls">
                <input id="inputUsername" placeholder=
                       "E.g. ashwinhegde" type="text" name="username">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for=
                     "inputPassword">Password</label>

              <div class="controls">
                <input id="inputPassword" placeholder=
                       "Min. 8 Characters" type="password" name="password">
              </div>
            </div>

            <div class="control-group">
              <div class="controls">
		<br>                    
		<button class="btn btn-success" type=
                        "submit" name="logOrReg" value="login">Sign In</button> 
              </div>
            </div>

          </form>
        </div>
      </div>
      <br><br>
      <div class="span6">
        <div class="area">
          <form class="form-horizontal" method="POST" action="{{ url_for('authOrCreate') }}">
            <div class="heading">
              <h4 class="form-heading">Sign Up</h4>
            </div>

            <div class="control-group">


              <div class="control-group">
		<label class="control-label" for=
                       "inputEmail">Username</label>
		
		<div class="controls">
                  <input id="inputEmail" placeholder=
			 "E.g. ashwinh@cybage.com" type="text" name="username">
		</div>
              </div>

              <div class="control-group">
		<label class="control-label" for=
                       "inputUser">Password</label>

		<div class="controls">
                  <input id="inputUser" placeholder=
			 "E.g. ashwinhegde" type="password" name="password">
		</div>
              </div>

              <div class="control-group">
		<label class="control-label" for=
                       "inputPassword">Confirm Password</label>

		<div class="controls">
                  <input id="inputPassword" placeholder=
			 "Min. 8 Characters" type="password" name="pwd">
		</div>
              </div>
	      <br>
              <div class="control-group">
		<div class="controls">
		  <button class="btn btn-success" type="submit" value="register" name="logOrReg">Sign
                    Up</button> 
		</div>
              </div>

          </form>
          </div>
	</div>
      </div>
    </div>
  </div>
                
  {% endblock %}
