{% extends "basee.html" %}

{% import "macros.html" as macros %}

{% block head %}
<title>{{ data[0] }}</title>
<script src="{{ url_for('static', filename='js/canvasjs.min.js') }}"></script>
{% if msg == 0 %}
  {{ macros.render_chart(data_points, d) }}
{% endif %}

{% endblock %}

{% block body %}
<br><br><br><br>


{% if msg == 2 %}

<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Something went wrong when we were finding info about this stock.  Try reloading this page in one minute.</strong> {{ note }}
</div>

{% else %}

<div class="page-header">
  <div class="col-md-1"></div>
  <h1><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>   {{data[1]}}      <small>{{data[0].upper()}}</small></h1>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-md-1"></div>
    Shares owned: {{ data[4] }}<br>
    <div class="col-md-1"></div>
    Price as of {{data[3]}} : ${{ data[2] }} <br>
    <div class="col-md-1"></div>
    Total value: ${{ data[2] * data[4] }}
  </div>
</div>


<br><br>

{% if not(note=="") %}
<div class="alert alert-danger alert-dismissible" role="alert">
  <p class="text-center">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Nahh...</strong> {{ note }}
</p></div>
{% endif %}


<div class="alert alert-info" role="alert">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-lg-2">
      <form method="POST" action="{{ url_for('buy') }}">
	<div class="input-group">
	  <span class="input-group-btn">
            <button class="btn btn-default" type="submit">BUY</button>
	  </span>
	  <input type="text" class="form-control" placeholder="Number of shares" name="shares">
	</div><!-- /input-group -->
	<input type="hidden" name="stockName" value={{ data[0] }}>
	<input type="hidden" name="price" value={{ data[2] }}>
	<input type="hidden" name="stockSymbol" value={{ data[0] }}>
	<input type="hidden" name="days" value={{ days }}>

      </form>
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-2">
      <form method="POST" action="{{ url_for('sell') }}">
	<div class="input-group">
	  <span class="input-group-btn">
            <button class="btn btn-default" type="submit">SELL</button>
	  </span>
	  <input type="text" class="form-control" placeholder="Number of shares" name="shares">
	</div><!-- /input-group -->
	<input type="hidden" name="stockName" value={{ data[0] }}>
	<input type="hidden" name="price" value={{ data[2] }}>
	<input type="hidden" name="stockSymbol" value={{ data[0] }}>
	<input type="hidden" name="days" value={{ days }}>

      </form>
    </div><!-- /.col-lg-6 -->
  </div>
</div>


{% if msg == 1 %}
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Something went wrong when we were generating your charts. Try reloading this page in one minute.</strong> {{ note }}
</div>

{% else %}
<div class="container">
  <br>
  <br>
  <br>
  <div class="btn-group">
    <a href="{{ url_for('stock', stocksymbol = symbol, days = 14) }}" class="btn btn-primary {% if days == 14 %}active{% endif %}">2w</a>
    <a href="{{ url_for('stock', stocksymbol = symbol, days = 31) }}" class="btn btn-primary {% if days == 31 %}active{% endif %}">1m</a>
    <a href="{{ url_for('stock', stocksymbol = symbol, days = 62) }}" class="btn btn-primary {% if days == 62 %}active{% endif %}">2m</a>
    <a href="{{ url_for('stock', stocksymbol = symbol, days = 182) }}" class="btn btn-primary {% if days == 182 %}active{% endif %}">6m</a>
    <a href="{{ url_for('stock', stocksymbol = symbol, days = 365) }}" class="btn btn-primary {% if days == 365 %}active{% endif %}">1y</a>
    <a href="{{ url_for('stock', stocksymbol = symbol, days = 730) }}" class="btn btn-primary {% if days == 730 %}active{% endif %}">2y</a>
    <a href="{{ url_for('stock', stocksymbol = symbol, days = 1825) }}" class="btn btn-primary {% if days == 1825 %}active{% endif %}">5y</a>
    <a href="{{ url_for('stock', stocksymbol = symbol, days = 3650) }}" class="btn btn-primary {% if days == 3650 %}active{% endif %}">10y</a>
  </div>
  <div id="chartContainer" style="height: 600px; width: 100%;"></div>
</div>


{% endif %}

{% endif %}


<br><br>
<center>
  <h3><b>Articles Related to {{ data[1] }}</b></h3>
</center>

{% if articles[0] is string  %}

<center>No articles found</center>

{% else %}

{% for article in articles %}
<div class="col-lg-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><a href={{ article[2] }} target="_blank"> {{ article[0] }} </a></h3>
    </div>
    <div class="panel-body">
      {{ article[1] }}
    </div>
  </div>
</div>
{% endfor %}

{% endif %}

{% endblock %}
