{% extends "basee.html" %}

{% block head %}
<title>{{data[0]}}</title>
{% endblock %}

{% block body %}
<br><br><br><br>
<div class="page-header">
  <div class="col-md-1"></div>
  <h1><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>   {{data[1]}}      <small>{{data[0].upper()}}</small></h1>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-md-1"></div>
    Shares owned: {{ data[4] }}<br>
    <div class="col-md-1"></div>
    Price as of {{data[3]}} : ${{data[2]}} <br>
    <div class="col-md-1"></div>
    Total value: ${{ data[2] * data[4] }}
  </div>
</div>

<br><br><br>
<div class="alert alert-info" role="alert">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-lg-2">
<form method="POST" action="{{ url_for('buy') }}">
      <div class="input-group">
	<span class="input-group-btn">
          <button class="btn btn-default" type="submit">BUY</button>
	</span>
	<input type="text" class="form-control" placeholder="Number of shares" name="shares">
      </div><!-- /input-group -->
<input type="hidden" name="stockName" value={{ data[0] }}>
<input type="hidden" name="price" value={{ data[2] }}>
</form>
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-2">
<form method="POST" action="{{ url_for('sell') }}">
      <div class="input-group">
	<span class="input-group-btn">
          <button class="btn btn-default" type="submit">SELL</button>
	</span>
	<input type="text" class="form-control" placeholder="Number of shares" name="shares">
      </div><!-- /input-group -->
<input type="hidden" name="stockName" value={{ data[0] }}>
<input type="hidden" name="price" value={{ data[2] }}>
</form>
    </div><!-- /.col-lg-6 -->
  </div>
</div>









{% endblock %}
