{% extends "basee.html" %}

{% block head %}
<title>{{info[0]}}</title>
{% endblock %}

{% block body %}
<br><br><br><br>
<div class="page-header">
  <div class="col-md-1"></div>
  <h1><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>   {{info[1]}}      <small>{{info[0]}}</small></h1>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-md-1"></div>
    Shares owned: #SHARES <br>
    <div class="col-md-1"></div>
    Price as of {{info[3]}} : {{info[2]}} <br>
    <div class="col-md-1"></div>
    Total value: INFO2*SHARES
  </div>
</div>

<br><br><br>
<div class="alert alert-info" role="alert">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-lg-2">
      <div class="input-group">
	<span class="input-group-btn">
          <button class="btn btn-default" type="button">BUY</button>
	</span>
	<input type="text" class="form-control" placeholder="Number of shares">
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-2">
      <div class="input-group">
	<span class="input-group-btn">
          <button class="btn btn-default" type="button">SELL</button>
	</span>
	<input type="text" class="form-control" placeholder="Number of shares">
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </div>
</div>








{% endblock %}
